:root {
  /* Color */
  --color-purple: #5b36ac;
  --color-charcoal-grey: #464052;
  --color-charcoal-grey-two: #363a42;
  --color-black: #000000;
  --color-bloack-10: rgba(0, 0, 0, 0.1);
  --color-white: #ffffff;
  --color-cool-grey: #a4a6b0;
  --color-pale-grey: #f9f9fb;

  /* Font size */

  --font-large: 32px;
  --font-medium: 20px;
  --font-regular: 14px;
  --font-small: 12px;
  --font-micro: 8px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 250ms;
}
